chromadb==1.5.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-deepseek==0.1.4
langchain-huggingface==0.3.1
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
llama-index-embeddings-openai==0.5.2
longbridge==4.2.2
numpy==2.0.2
openai==2.40.0
pypdf==6.13.1
python-dotenv==1.2.1
scikit-learn==1.6.1
sentence-transformers==5.1.2
transformers==4.57.6
